# BigCommerce
BIGCOMMERCE_STORE_HASH=your_store_hash
BIGCOMMERCE_CLIENT_ID=your_client_id
BIGCOMMERCE_CLIENT_SECRET=your_client_secret
BIGCOMMERCE_CLIENT_ACCESS_TOKEN=your_access_token

# Shopify
SHOPIFY_STORE=your_store_name
SHOPIFY_API_TOKEN=your_api_token
SHOPIFY_API_VERSION=2024-01

# Logger (optional)
LOG_LEVEL=info
LOG_COLORS=true
LOG_TIMESTAMPS=true
